{% if page.iosslider %}
<div class="iosslider">
  <div class="containerOuter">
    <div class="iosContainer">
      <div class="iosSliderContainer">
        <div class="iosSlider">
          <div class="slider">
            {% for slides in page.iosslider %}
              <div class="item item{{ forloop.index }}">
                {% img "{{ slides.islide }}" %}
              </div>
            {% endfor %}
          </div><!-- // .slider -->
        </div><!-- // .iosSlider -->
      </div><!-- // .iosSliderContainer -->
    </div><!-- // .iosContainer -->
  </div><!-- // .containerOuter -->
  <div class = 'iosThumb2Load'>
    <div class = 'slider'>
      {% for slidesthumb in page.iosslider %}
        <div class="button-thumb item{{ forloop.index }}">
          {% img "{{ slidesthumb.islide }}" %}
        </div>
      {% endfor %}
    </div><!-- // .slider -->
  </div><!-- // .iosThumb2Load -->
</div>
<div class="clear"></div>
{% endif %}
