{% if paginator.total_pages > 1 %}
<div class="nav-pages">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Anterior" class="link-prev">
		<div>
			<span>Anterior</span>
		</div>
	</a><!-- // .link-prev -->
	{% else %}
	<a class="link-prev" class="link-disabled" title="Anterior">
		<div>
			<span>Anterior</span>
		</div>
	</a><!-- // .link-prev -->
	{% endif %}

  {% if paginator.next_page %}
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Próxima" class="link-next">
		<div>
			<span>Próxima</span>
		</div>
	</a><!-- // .link-next -->
	{% else %}
	<a class="link-next" class="link-disabled" title="Próxima">
		<div>
			<span>Próxima</span>
		</div>
	</a><!-- // .link-next -->
	{% endif %}
</div><!-- // .nav-pages -->
<div class="clear"></div>
{% endif %}
