<!DOCTYPE html>
<html lang="{{ site.locale }}">
<head>
	<meta charset="utf-8">
	<title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="{{ "/assets/images/default/favicon.ico" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" href="{{ "/assets/images/default/apple-touch-icon.png" | prepend: site.baseurl }}">
	{% seo %}
	{% include /analytics-providers/analytics.html %}
</head>
