  {% include /header/head.html %}
<section id="header">
  {% include /header/topbar.html %}
  {% include /header/logo.html %}
  {% include /header/preloader.html %}
</section><!-- // #header -->
<body>

  {% if page.flexslider %}
  {% include /sections/flexslider.html %}
  {% endif %}
  {% if page.iosslider %}
  {% include /sections/iosslider.html %}
  {% endif %}



  {{ content }}

  {% if page.comments %}
  {% include /sections/disqus.html %}
  {% endif %}

  {% include /footer/social_footer.html %}
</body>
  {% include /footer/scripts.html %}
</html>
